{% extends "photobattle/base.html" %}

{% block main_content %}

<h1>Joutes photographiques</h1>

<p>
    Trois équipes se donnent rendez-vous avant le coucher du soleil.
    Elles ont deux heures pour prendre des photos, et retourner au point de départ.
    Elles ont ensuite 24h pour développer ces photos et les partager.
    Chaque participant vote pour évaluer les photos au jugement majoritaire.
    L'équipe perdante a un gage.
    Attention, si une équipe se présente en retard au rendez-vous final,
    elle est déclarée perdante.
</p>

<p>
    Inspiré par la série « <i>Photo-Battle</i> » de Hayden Pedersen :
    <div class="video-responsive">
        <iframe src="https://www.youtube-nocookie.com/embed/C8oLi-ZCqns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</p>

{% endblock main_content %}